/*

Darko Bunic
http://www.redips.net/
Mar, 2020.

*/

body{
	font-family: arial;
	margin: 0px;
}

/* main content */
div#main {
	text-align: center;
}

/* container with link */
.container {
	margin-top: 50px;
}

/* message box */
#message {
	color: #555;
	font-weight: bold;
	margin-top: 50px;
}