/*

Darko Bunic
http://www.redips.net/
Mar, 2020.

*/

body{
	font-family: arial;
	margin: 0px;
}

/* main container */
.container {
	width: 100%;
	margin-top: 50px;
}

/* message box */
#message {
	color: #555;
	font-weight: bold;
	margin-top: 50px;
}