/*

Darko Bunic
http://www.redips.net/
Aug, 2012.

*/

body{
	font-family: arial;
	margin: 0px;
}

/* main container */
.container {
	width: 100%;
	margin-top: 50px;
}

/* message box */
#message {
	color: #555;
	margin-top: 50px;
}

/* overwrite "text-align: center" from redips-dialog.css */
/* it is important to load this style.css after redips-dialog.css in index.html */
.redips_dialog_tbl {
	padding: 12px;
	text-align: left;
}