/*

Darko Bunic
http://www.redips.net/
Mar, 2020.

*/

body {
	font-family: arial;
	margin: 0px;
}

/* main content */
div#main {
	text-align: center;
}

/* overwrite "text-align: center" from redips-dialog.css */
/* it is important to load this style.css after redips-dialog.css in index.html */
.redips_dialog_tbl {
	padding: 12px;
	text-align: left;
}